.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
  
.inner {
  flex: 1;
  display: flex;
  width: 100%;
}

.container {
  flex: 1;
  padding: 20px;
  background-color: var(--white-plus);
}